openapi: 3.0.1
info:
  title: Miro Developer Platform AI Interaction Logs tokens API
  version: v2.0
  description: '<img src="https://content.pstmn.io/47449ea6-0ef7-4af2-bac1-e58a70e61c58/aW1hZ2UucG5n" width="1685" height="593">


    ### Miro Developer Platform concepts


    - New to the Miro Developer Platform? Interested in learning more about platform concepts??

    [Read our introduction page](https://beta.developers.miro.com/docs/introduction) and familiarize yourself with the Miro Developer Platform capabilities in a few minutes.



    ### Getting started with the Miro REST API


    - [Quickstart (video):](https://beta.developers.miro.com/docs/try-out-the-rest-api-in-less-than-3-minutes) try the REST API in less than 3 minutes.

    - [Quickstart (article):](https://beta.developers.miro.com/docs/build-your-first-hello-world-app-1) get started and try the REST API in less than 3 minutes.



    ### Miro REST API tutorials


    Check out our how-to articles with step-by-step instructions and code examples so you can:


    - [Get started with OAuth 2.0 and Miro](https://beta.developers.miro.com/docs/getting-started-with-oauth)



    ### Miro App Examples


    Clone our [Miro App Examples repository](https://github.com/miroapp/app-examples) to get inspiration, customize, and explore apps built on top of Miro''s Developer Platform 2.0.

    '
servers:
- url: https://api.miro.com/
tags:
- name: tokens
paths:
  /v1/oauth/revoke:
    post:
      tags:
      - tokens
      summary: Revoke token (v1)
      description: <p><b>Please use the new revoke endpoint <code>/v2/oauth/revoke</code>. This endpoint is considered vulnerable and deprecated due to access token passed publicly in the URL.</b></p> Revoke the current access token. Revoking an access token means that the access token will no longer work. When an access token is revoked, the refresh token is also revoked and no longer valid. This does not uninstall the application for the user.
      operationId: revoke-token
      deprecated: true
      parameters:
      - description: Access token that you want to revoke
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Token revoked
        '400':
          description: Failed to revoke token
  /v1/oauth-token:
    get:
      tags:
      - tokens
      summary: Get access token information
      description: Get information about an access token, such as the token type, scopes, team, user, token creation date and time, and the user who created the token.
      operationId: token-info
      responses:
        '200':
          description: Token information
          content:
            application/json:
              schema:
                title: Token information
                type: object
                required:
                - type
                - organization
                - team
                - createdBy
                - user
                properties:
                  type:
                    type: string
                  organization:
                    title: Organization information
                    type: object
                    properties:
                      type:
                        type: string
                      name:
                        type: string
                      id:
                        type: string
                    required:
                    - type
                    - name
                    - id
                  team:
                    title: Team information
                    type: object
                    properties:
                      type:
                        type: string
                      name:
                        type: string
                      id:
                        type: string
                    required:
                    - type
                    - name
                    - id
                  createdBy:
                    type: object
                    title: User information
                    properties:
                      type:
                        type: string
                      name:
                        type: string
                      id:
                        type: string
                    required:
                    - type
                    - name
                    - id
                  user:
                    type: object
                    title: User information
                    properties:
                      type:
                        type: string
                      name:
                        type: string
                      id:
                        type: string
                    required:
                    - type
                    - name
                    - id
                  scopes:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid token provided
components:
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: For more information, see https://developers.miro.com/reference/authorization-flow-for-expiring-tokens
      flows:
        authorizationCode:
          authorizationUrl: https://miro.com/oauth/authorize
          tokenUrl: https://api.miro.com/v1/oauth/token
          scopes:
            boards:read: Retrieve information about boards, board members, or items
            boards:write: Create, update, or delete boards, board members, or items
            microphone:listen: Access a user's microphone to record audio in an iFrame
            screen:record: Access a user's screen to record it in an iFrame
            webcam:record: Allows an iFrame to access a user's camera to record video
            organizations:read: Read information about the organization, such as name, plan, number of licenses, organization settings, or organization members.
            organizations:teams:read: Read team information, such as the list of teams, team settings, team members, for an organization.
            organizations:teams:write: Create or delete teams, update team information, team settings, team members, for an organization.
x-settings:
  publish: true
