openapi: 3.2.0
info:
  title: 'Miro Developer Platform Board classification: Team level API'
  version: v2.0
  description: '### Miro Developer Platform concepts


    - New to the Miro Developer Platform?'
servers:
- url: https://api.miro.com/
tags:
- name: 'Board classification: Team level'
paths:
  /v2/orgs/{org_id}/teams/{team_id}/data-classification:
    patch:
      description: 'Updates board classification for not-classified only or all boards in an existing team.


        Required scope

        boards:write


        Rate limiting

        Level 4


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-dataclassification-team-boards-bulk
      parameters:
      - description: id of the organization
        example: '3074457345821141000'
        in: path
        name: org_id
        required: true
        schema:
          type: string
      - description: id of the team
        example: '3074457345618265000'
        in: path
        name: team_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBoardsDataClassificationLabelRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBoardsDataClassificationLabel'
          description: Number of updated boards
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      summary: Bulk update boards classification
      tags:
      - 'Board classification: Team level'
  /v2/orgs/{org_id}/teams/{team_id}/data-classification-settings:
    get:
      description: 'Retrieves board classification settings for an existing team.


        Required scope

        organizations:teams:read


        Rate limiting

        Level 2


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-dataclassification-team-settings-get
      parameters:
      - description: id of the organization
        example: '3074457345821141000'
        in: path
        name: org_id
        required: true
        schema:
          type: string
      - description: id of the team
        example: '3074457345618265000'
        in: path
        name: team_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataClassificationTeamSettings'
          description: Team board classification settings
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      summary: Get team settings
      tags:
      - 'Board classification: Team level'
    patch:
      description: 'Updates board classification settings for an existing team.


        Required scope

        organizations:teams:write


        Rate limiting

        Level 2


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-dataclassification-team-settings-set
      x-settings:
        skip-tests: true
      parameters:
      - description: id of the organization
        example: '3074457345821141000'
        in: path
        name: org_id
        required: true
        schema:
          type: string
      - description: id of the team
        example: '3074457345618265000'
        in: path
        name: team_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamSettingsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataClassificationTeamSettings'
          description: Team board classification settings
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      summary: Update team settings
      tags:
      - 'Board classification: Team level'
components:
  schemas:
    UpdateBoardsDataClassificationLabelRequest:
      type: object
      properties:
        labelId:
          type: integer
          description: Data classification label id for team
          format: int64
          example: 3000457366756291000
        notClassifiedOnly:
          type: boolean
          description: Assign data classification label to not-classified only or to all boards of team
          example: true
    UpdateBoardsDataClassificationLabel:
      type: object
      properties:
        numberUpdatedBoards:
          type: integer
          description: Number of boards updated in the team
          format: int64
          example: 10
        type:
          type: string
          description: Type of the object returned.
          default: boards-data-classification-label-changed
    UpdateTeamSettingsRequest:
      type: object
      properties:
        defaultLabelId:
          type: integer
          description: Data classification default label id
          format: int64
          example: 3000457366756291000
        enabled:
          type: boolean
          description: Data classification enabled for team
          example: true
    DataClassificationTeamSettings:
      type: object
      properties:
        defaultLabelId:
          type: string
          description: Data classification default label id
          example: '3000457366756290996'
        enabled:
          type: boolean
          description: Data classification enabled for team
          example: true
        type:
          type: string
          description: Type of the object returned.
          default: team-data-classification-settings
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: For more information, see https://developers.miro.com/reference/authorization-flow-for-expiring-tokens
      flows:
        authorizationCode:
          authorizationUrl: https://miro.com/oauth/authorize
          tokenUrl: https://api.miro.com/v1/oauth/token
          scopes:
            boards:read: Retrieve information about boards, board members, or items
            boards:write: Create, update, or delete boards, board members, or items
            microphone:listen: Access a user's microphone to record audio in an iFrame
            screen:record: Access a user's screen to record it in an iFrame
            webcam:record: Allows an iFrame to access a user's camera to record video
            organizations:read: Read information about the organization, such as name, plan, number of licenses, organization settings, or organization members.
            organizations:teams:read: Read team information, such as the list of teams, team settings, team members, for an organization.
            organizations:teams:write: Create or delete teams, update team information, team settings, team members, for an organization.
x-settings:
  publish: true
