openapi: 3.2.0
info:
  title: Miro Developer Platform Organizations API
  version: v2.0
  description: '### Miro Developer Platform concepts


    - New to the Miro Developer Platform?'
servers:
- url: https://api.miro.com/
tags:
- name: Organizations
paths:
  /v2/orgs/{org_id}:
    get:
      description: 'Retrieves organization information.


        Required scope

        organizations:read


        Rate limiting

        Level 3


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-get-organization
      parameters:
      - description: id of the organization
        example: '3074457345821141000'
        in: path
        name: org_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Organization found
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      summary: Get organization info
      tags:
      - Organizations
components:
  schemas:
    Organization:
      required:
      - fullLicensesPurchased
      - id
      - name
      - plan
      type: object
      properties:
        id:
          type: string
          description: Id of the organization
          example: '3074457345821140946'
        fullLicensesPurchased:
          type: integer
          description: Purchased FULL licenses
          format: int32
        name:
          type: string
          description: Name of the organization
          example: Miro company
        plan:
          type: string
          description: Organization plan type
          example: company
          enum:
          - company
          - consultant
          - consultant_slf
          - business
          - paid_team_org
          - integration_org
          - professional_2022
          - edu_team_org
          - free_team_org
          - dev_team_org
          - unknown
        type:
          type: string
          description: Type of the object returned.
          default: organization
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: For more information, see https://developers.miro.com/reference/authorization-flow-for-expiring-tokens
      flows:
        authorizationCode:
          authorizationUrl: https://miro.com/oauth/authorize
          tokenUrl: https://api.miro.com/v1/oauth/token
          scopes:
            boards:read: Retrieve information about boards, board members, or items
            boards:write: Create, update, or delete boards, board members, or items
            microphone:listen: Access a user's microphone to record audio in an iFrame
            screen:record: Access a user's screen to record it in an iFrame
            webcam:record: Allows an iFrame to access a user's camera to record video
            organizations:read: Read information about the organization, such as name, plan, number of licenses, organization settings, or organization members.
            organizations:teams:read: Read team information, such as the list of teams, team settings, team members, for an organization.
            organizations:teams:write: Create or delete teams, update team information, team settings, team members, for an organization.
x-settings:
  publish: true
