openapi: 3.2.0
info:
  title: Miro Developer Platform Share boards with groups API
  version: v2.0
  description: '### Miro Developer Platform concepts


    - New to the Miro Developer Platform?'
servers:
- url: https://api.miro.com/
tags:
- name: Share boards with groups
paths:
  /v2/orgs/{org_id}/boards/{board_id}/groups:
    get:
      description: 'Retrieves information about user groups invited to the specified board.


        Required scope

        organizations:groups:read

        boards:read

        Rate limiting

        Level 1


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-boards-get-groups
      parameters:
      - $ref: '#/components/parameters/pathOrgId'
      - $ref: '#/components/parameters/pathBoardId'
      - $ref: '#/components/parameters/queryLimitBoardUserGroups'
      - $ref: '#/components/parameters/queryCursorBoardUserGroups'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardUserGroupsPage'
          description: Get user groups assigned to board
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      summary: Get board user group assignments
      tags:
      - Share boards with groups
    post:
      description: 'Shares a board with user groups with a specified role. Updates the role if already shared.


        Required scope

        organizations:groups:read

        boards:write

        Rate limiting

        Level 1


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-boards-create-group
      parameters:
      - $ref: '#/components/parameters/pathOrgId'
      - $ref: '#/components/parameters/pathBoardId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBoardUserGroupsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardUserGroup'
          description: User group role assignment on board
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      summary: Create board user group assignments
      tags:
      - Share boards with groups
  /v2/orgs/{org_id}/boards/{board_id}/groups/{group_id}:
    delete:
      description: 'Removes a user group from the specified board.


        Required scope

        organizations:groups:read

        boards:write

        Rate limiting

        Level 1


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-boards-delete-groups
      parameters:
      - $ref: '#/components/parameters/pathOrgId'
      - $ref: '#/components/parameters/pathBoardId'
      - $ref: '#/components/parameters/pathGroupId'
      responses:
        '204':
          description: User group to board assignment deleted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
      summary: Delete board user group assignment
      tags:
      - Share boards with groups
components:
  schemas:
    QueryCursorBoardUserGroups:
      type: string
      example: MlR5YnRrRUJBV0N2OUxnbWxTNnJ5THwzNDU4NzY0NjEzMTE0Nzk4ODA1fEdST1VQ
    CreateBoardUserGroupsRequest:
      type: object
      required:
      - userGroupIds
      - role
      properties:
        userGroupIds:
          type: array
          description: List of user group ids.
          items:
            type: string
            description: User group ID.
            example: '3074457345618265000'
        role:
          type: string
          description: Role of the user group on the board.
          enum:
          - VIEWER
          - COMMENTER
          - EDITOR
          default: VIEWER
          example: VIEWER
    PageSize:
      type: integer
      format: int32
      minimum: 0
      maximum: 100
      default: 100
      example: 87
      description: Number of results returned in the response considering the cursor and the limit values sent in the request. For example, if there are 20 results, the request does not have a cursor value, and the limit set to 10, the size of the results will be 10. In this example, the response will also return a cursor value that can be used to retrieve the next set of 10 remaining results in the collection.
    PageLimit:
      type: integer
      format: int32
      minimum: 1
      maximum: 100
      default: 100
      example: 100
      description: The maximum number of results to return per call. If the number of project in the response is greater than the limit specified, the response returns the cursor parameter with a value.
    PageType:
      type: string
      description: Type of the object returned.
      default: cursor-list
    QueryLimit:
      type: integer
      format: int32
      minimum: 1
      maximum: 100
      default: 100
      example: 100
    BoardUserGroupsPage:
      type: object
      description: Page of user groups that with access to the board.
      required:
      - limit
      - size
      - data
      properties:
        limit:
          $ref: '#/components/schemas/PageLimit'
        size:
          $ref: '#/components/schemas/PageSize'
        data:
          type: array
          description: List of user groups.
          items:
            $ref: '#/components/schemas/BoardUserGroup'
        cursor:
          $ref: '#/components/schemas/PageCursor'
        type:
          $ref: '#/components/schemas/PageType'
    PageCursor:
      type: string
      description: Indicator of the position of the next page of the result. To retrieve the next page, make another query setting its cursor field to the value returned by the current query. If the value is empty, there are no more pages to fetch.
      example: '3074457345821140946'
    BoardUserGroup:
      type: object
      required:
      - id
      - role
      properties:
        id:
          type: string
          description: User group ID.
          example: '3074457345618265000'
        role:
          description: Role of the user group on the board.
          enum:
          - VIEWER
          - COMMENTER
          - EDITOR
          default: VIEWER
          example: VIEWER
        type:
          description: Object type
          default: board-user-group
  parameters:
    queryCursorBoardUserGroups:
      name: cursor
      description: A representation of the position of a user group in the full set of results. It is used to determine the first item of the resulting set. Leave empty to retrieve items from the beginning.
      in: query
      schema:
        $ref: '#/components/schemas/QueryCursorBoardUserGroups'
    pathBoardId:
      name: board_id
      description: The ID of the board.
      in: path
      required: true
      schema:
        type: string
      example: uXjVOfjm6tI=
    pathGroupId:
      name: group_id
      description: The ID of a user group.
      in: path
      required: true
      schema:
        type: string
      example: '3074457345618265000'
    pathOrgId:
      name: org_id
      description: The ID of an organization.
      in: path
      required: true
      schema:
        type: string
      example: '3074457345618265000'
    queryLimitBoardUserGroups:
      name: limit
      description: The maximum number of user groups in the result list.
      in: query
      schema:
        $ref: '#/components/schemas/QueryLimit'
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: For more information, see https://developers.miro.com/reference/authorization-flow-for-expiring-tokens
      flows:
        authorizationCode:
          authorizationUrl: https://miro.com/oauth/authorize
          tokenUrl: https://api.miro.com/v1/oauth/token
          scopes:
            boards:read: Retrieve information about boards, board members, or items
            boards:write: Create, update, or delete boards, board members, or items
            microphone:listen: Access a user's microphone to record audio in an iFrame
            screen:record: Access a user's screen to record it in an iFrame
            webcam:record: Allows an iFrame to access a user's camera to record video
            organizations:read: Read information about the organization, such as name, plan, number of licenses, organization settings, or organization members.
            organizations:teams:read: Read team information, such as the list of teams, team settings, team members, for an organization.
            organizations:teams:write: Create or delete teams, update team information, team settings, team members, for an organization.
x-settings:
  publish: true
