openapi: 3.2.0
info:
  title: 'Miro Developer Platform Board classification: Board level…'
  version: v2.0
  description: '### Miro Developer Platform concepts


    - New to the Miro Developer Platform?'
servers:
- url: https://api.miro.com/
tags:
- name: 'Board classification: Board level'
paths:
  /v2/orgs/{org_id}/teams/{team_id}/boards/{board_id}/data-classification:
    get:
      description: 'Retrieves board classification for a board.


        Required scope

        boards:read


        Rate limiting

        Level 2


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-dataclassification-board-get
      x-settings:
        skip-tests: true
      parameters:
      - description: id of the organization
        example: '3074457345821141000'
        in: path
        name: org_id
        required: true
        schema:
          type: string
      - description: id of the team
        example: '3074457345618265000'
        in: path
        name: team_id
        required: true
        schema:
          type: string
      - description: Unique identifier of the board that you want to retrieve.
        example: o9J_kzlUDmo=
        in: path
        name: board_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardDataClassificationLabel'
          description: Board classification
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      summary: Get board classification
      tags:
      - 'Board classification: Board level'
    post:
      description: 'Updates board classification for an existing board.


        Required scope

        boards:write


        Rate limiting

        Level 2


        Enterprise only


        This API is available only for Enterprise plan users. You can only use this endpoint if you have the role of a Company Admin. You can request temporary access to Enterprise APIs using this form.'
      operationId: enterprise-dataclassification-board-set
      x-settings:
        skip-tests: true
      parameters:
      - description: id of the organization
        example: '3074457345821141000'
        in: path
        name: org_id
        required: true
        schema:
          type: string
      - description: id of the team
        example: '3074457345618265000'
        in: path
        name: team_id
        required: true
        schema:
          type: string
      - description: Unique identifier of the board that you want to update.
        example: o9J_kzlUDmo=
        in: path
        name: board_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataClassificationLabelId'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardDataClassificationLabel'
          description: Board classification
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
      summary: Update board classification
      tags:
      - 'Board classification: Board level'
components:
  schemas:
    BoardDataClassificationLabel:
      type: object
      properties:
        color:
          type: string
          description: Label color.
          example: blue
        description:
          type: string
          description: Label description.
          example: Board could not be shared publicly
        id:
          type: string
          description: Label id.
          example: '3000457366756290996'
        name:
          type: string
          description: Label name.
          example: internal
        sharingRecommendation:
          type: string
          description: Sharing Recommendation (one of NO_SHARING_RESTRICTIONS, ONLY_WITHIN_ORGANIZATION, ONLY_WITHIN_TEAM or ONLY_WITH_AUTHORIZED_TEAM_MEMBERS ).
          example: NO_SHARING_RESTRICTIONS
        guidelineUrl:
          type: string
          description: Indicates the URL for the board classification label guidelines.
          example: https://miro.com
        type:
          type: string
          description: Type of the object returned.
          default: board-data-classification-label
    DataClassificationLabelId:
      type: object
      properties:
        labelId:
          type: string
          description: Data classification label id
          example: '3000457366756290996'
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: For more information, see https://developers.miro.com/reference/authorization-flow-for-expiring-tokens
      flows:
        authorizationCode:
          authorizationUrl: https://miro.com/oauth/authorize
          tokenUrl: https://api.miro.com/v1/oauth/token
          scopes:
            boards:read: Retrieve information about boards, board members, or items
            boards:write: Create, update, or delete boards, board members, or items
            microphone:listen: Access a user's microphone to record audio in an iFrame
            screen:record: Access a user's screen to record it in an iFrame
            webcam:record: Allows an iFrame to access a user's camera to record video
            organizations:read: Read information about the organization, such as name, plan, number of licenses, organization settings, or organization members.
            organizations:teams:read: Read team information, such as the list of teams, team settings, team members, for an organization.
            organizations:teams:write: Create or delete teams, update team information, team settings, team members, for an organization.
x-settings:
  publish: true
